* {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}

.box2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  display: inline-block;
}

