
.body {
    margin: auto;

}

.flavors {
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(216, 144, 159);
}

.bgcolor {
    background-color: aqua;
}

.flavor-card {
    flex-basis: 250px;
    margin: 20px;
}

.flavor-card > img {
    width: 100%;
    height: 25%;
    border: 5px solid black;
    align-items: center;
   
}

.flavor-card > h3 {
    text-align: center;
    text-decoration: underline;
}

.flavor-card > p {
    font-size: 17px;
    text-align: center;
}
