.footer-container {
    color: darkgray;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    font-variant: small-caps;
    font-size: 12px;
}

img:hover {
    background: teal;
    border-radius: 60%;
}

.image-src {
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    width: 20px;
    height: 20px;
}