.navbar-container {
    padding-top: 1%;
    padding-left: 1%;
  
}

.start-bootstrap {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding-right: 40%;
    color: white;
}

.navbar-options {
    text-decoration: none;
    padding: 1%;
    font-size: 12px;
    font-weight: bold;
    color: white;
}